* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Style the topnav */
ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

/* Style links in topnav */
ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
}

div.flex-container {
    display: flex;
    flex-direction: row;
}

div.flex-container>div {
    margin: 10px;
}

#leapYearButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 9px 3px #999;
}

#leapYearButton:hover {
    background-color: #45a030;
}

#leapYearButton:active {
  background-color: #45a030;
  box-shadow: 1px 2px #777;
  transform: translateY(4px);
}

/* Style the footer */
footer {
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    margin-top: auto;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}