@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Review Assignment
   
   Design Style Sheet for Tree and Book Family Home Page
   Author: 
   Date:   
   
   Filename: tb_visual3.css

*/

/* HTML Styles */

html {
   background-image: url(tb_back5.png);
}


/* Page Body Styles */

body {
   border-left: 3px solid rgb(169, 130, 88);
   border-right: 3px solid rgb(169, 130, 88);
   box-shadow: rgb(53, 21, 0) 25px 0px 35px,
      rgb(53, 21, 0) -25px 0px 35px;
}

/* Main Styles */

main {
   background-image: url(tb_back7.png);
   background-size: cover;
   /* Xpx Ypx (auto) or cover or contain */
   background-repeat: no-repeat;
   background-clip: padding-box;
   background-origin: padding-box;
   /* 
      background: color url(xxx) position / size repeat attachment [whether the image scrolls or not] origin [how positions are measured on the background] clip;
   */
   box-shadow: inset rgb(71, 71, 17) -10px -10px 25px,
      inset rgb(71, 71, 17) 10px 10px 25px;
}

main header h1 {
   text-shadow: rgb(221, 221, 221) 1px 1px 0px,
   rgba(41, 41, 41, 0.9) 5px 5px 20px;
}
/* Figure Box Styles */



/* Article Styles */



/* Footer Styles */