@charset "utf-8";

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("/images/tile.jpg");
    height: 100%;
    color: rgb(200, 200, 200);
}

body {
    background-color: rgba(11, 11, 11, 81%);
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: column;
}

header {
    border: rgb(200, 200, 200) solid 1px;
}
header > h1 {
    text-align: center;
    font-size: large;
    padding: 2rem;
}

ul {
    padding: 2.4rem 2.4rem;
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

p {
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
    align-self: center;
}