/* Grid Rows Styles */

/* To ensure that rows always start on a new line */
div.row {
    clear: both;
}

/* To ensure that the grid row expands to cover all of its floating columns */
div.row::after {
    clear: both;
    content: "";
    display: table;
}


/* Grid Columns Styles */

div[class^="col-"] {
    float: left;
}

div.col-1-1 {width: 100%}
div.col-1-2 {width: 50%}
div.col-1-4 {width: 25%}
div.col-3-4 {width: 75%}

/* Grid Outline Styles */

div {
    outline: 1px solid rebeccapurple;
}