* {
    box-sizing: border-box;
}
html {
    background-color: azure;
    height: 100%;
}

body {
    background-color: black;
    color:burlywood;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 7px;
}

h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: cadetblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}